* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #fff;
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 120px;
  margin-bottom: 300px;
}

main {
  text-align: center;
}

form {
  margin-left: 25%;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.table-details {
  background-color: rgb(26, 21, 21);
  color: white;
  margin-bottom: 15px;
}

.table-details-container {
  width: 90%;
}

.fill-profile {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.enter-name {
  display: block;
  font-size: 15px;
  width: 60%;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 5px;
  border-color: lightgray;
}

.submit,
.btn-warning,
.btn-danger {
  font-family: Roboto, Arial;
  background-color: rgb(7, 115, 7);
  border: none;
  color: white;
  height: 24px;
  width: 70px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-container {
  display: block;
  text-align: left;
}

.btn-warning {
  background-color: rgb(226, 172, 24);
  color: black;
}

.btn-danger {
  background-color: darkred;
}

.tbody-list {
  background-color: rgb(234, 233, 233);
  height: 50px;
  margin-top: 50px;
}

/* .table {
  display: none;
} */
