.header {
  display: flex;
  /* grid-template-columns: 200px 1fr; */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: #fff;
  z-index: 100;
  max-width: 100%;
}

.company-logo {
  /* align-items: center; */
  height: 35px;
  margin-left: 15px;
  margin-bottom: 35px;
  padding-top: 0px;
}

.account-update {
  padding-left: 340px;
  padding-top: 10px;
  font-size: 50px;
  color: #a44253;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-right: 30%;
  white-space: nowrap;
}

span {
  border-radius: 10px;
  background-color: #a44253;
  color: white;
  margin-right: 8px;
  padding-left: 6px;
}

.left-section {
  padding-top: 0px;
}
